# Service APIs
VITE_CONFIG_API_URL="http://127.0.0.1:3001"
VITE_CHATBOT_API_URL="http://127.0.0.1:3002"
VITE_FINANCIAL_AGENT_URL="http://127.0.0.1:3003"

# Arbitrum Sepolia only
VITE_ARBITRUM_SEPOLIA_RPC_URL="https://sepolia-rollup.arbitrum.io/rpc"
VITE_ARBITRUM_SEPOLIA_BUNDLER_URL=""
VITE_ARBITRUM_SEPOLIA_EXPLORER_URL="https://sepolia.arbiscan.io"
VITE_ETHERSCAN_API_KEY=""

# Shared public contract addresses used when backend config is unavailable
VITE_ENTRY_POINT=""
VITE_CREATE3FACTORY=""
VITE_K1_VALIDATOR_FACTORY=""
VITE_OLD_EOA_FACTORY=""
VITE_NEXUS_IMPLEMENTATION=""
VITE_NEXUS_BOOTSTRAP=""
VITE_K1_VALIDATOR=""
VITE_SESSION_KEY_VALIDATOR=""
VITE_SOCIAL_RECOVERY_VALIDATOR=""
VITE_WEBAUTHN_VALIDATOR=""
VITE_WEBAUTHN_VALIDATOR_OLD=""

# Arbitrum Sepolia public protocol contracts
VITE_PAYMASTER=""
VITE_USDC_TOKEN=""
VITE_WETH_TOKEN=""
VITE_ARBITRUM_SEPOLIA_PRICE_FEED=""
VITE_AAVE_YIELD_POOL=""
VITE_UNISWAP_ROUTER=""
VITE_UNISWAP_QUOTER=""
VITE_MULTISIG_PROXY=""
VITE_VERIFYING_SIGNER=""
