# RPC & Network
VITE_CHAIN_ID=""
VITE_SEPOLIA_RPC_URL=""
VITE_AMOY_RPC_URL=""
VITE_SKANDHA_RPC_URL=""
VITE_PIMLICO_BUNDLER_URL=""

# Private Keys
VITE_PRIVATE_KEY=""
VITE_GUARDIAN_1_PK=""
VITE_GUARDIAN_2_PK=""
VITE_GUARDIAN_3_PK=""

# Nexus Infrastructure (Deterministic across chains)
VITE_ENTRY_POINT=""
VITE_CREATE3FACTORY=""
VITE_FACTORY=""
VITE_OLD_EOA_FACTORY=""
VITE_NEXUS_IMPLEMENTATION=""
VITE_NEXUS_BOOTSTRAP=""

# Validators
VITE_K1_VALIDATOR=""
VITE_SESSION_KEY_VALIDATOR=""
VITE_SOCIAL_RECOVERY_VALIDATOR=""
VITE_WEBAUTHN_VALIDATOR=""
VITE_WEBAUTHN_VALIDATOR_OLD=""

# Paymaster & Tokens
VITE_PAYMASTER=""
VITE_USDC_TOKEN=""
VITE_PRICE_FEED=""
VITE_MOCK_AGGREGATOR=""

# External APIs
VITE_ETHERSPOT_API_KEY=""
VITE_ETHERSCAN_API_KEY=""
VITE_POLYGONSCAN_API_KEY=""

# App specifics
VITE_RECIPIENT_ADDRESS=""
VITE_TARGET_CONTRACT_ADDRESS=""
VITE_NFT_ADDRESS=""
VITE_MULTISIG_PROXY=""
VITE_GROK_API_KEY=""
VITE_BACKEND_URL=""
