SEPOLIA_RPC_URL=""
AMOY_RPC_URL=""
ARBITRUM_RPC_URL=""
PRIVATE_KEY=""
ENTRY_POINT=""

# Nexus Infrastructure
CREATE3FACTORY=""
OLD_FACTORY_EOA=""
FACTORY=""
NEXUS_IMPLEMENTATION=""
NEXUS_BOOTSTRAP=""

# Validators
K1_VALIDATOR=""
SESSION_KEY_VALIDATOR=""
SOCIAL_RECOVERY_VALIDATOR=""
WEBAUTHN_VALIDATOR=""

# Paymaster
PAYMASTER=""
MULTITOKEN_PAYMASTER=""
ERC20PAYMASTER=""

# Tokens & Feeds
USDC_TOKEN_ADDRESS=""
PRICE_FEED=""
MOCK_AGGREGATOR=""
AMOY_USDC=""
AMOY_MOCKAGG=""

# External APIs
ETHERSPOT_API_KEY=""
SKANDHA_RPC_URL="" 
ETHERSCAN_API_KEY=""
POLYGONSCAN_API_KEY=""
ARBISCAN_API_KEY=""

# Demos & Guardians
RECIPIENT_ADDRESS=""
TARGET_CONTRACT_ADDRESS=""
NFT_ADDRESS=""
GUARDIAN_1_PK=""
GUARDIAN_2_PK=""
GUARDIAN_3_PK=""

# Multisig
MULTISIG_FACTORY_ADDRESS=""
MULTISIG_IMPL_ADDRESS=""
MULTISIG_PROXY=""
MOCK_TOKEN=""

VITE_USDC_TOKEN=""
